.container {
    display: flex;
    padding: 24px;
}

.base {
    position: relative;
    z-index: 1;
    border-radius: 32px;
    background-color: #1D2326;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 1);
    padding: 16px;
    overflow: hidden;
}

.baseLight {
    position: absolute;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 75%;
    top: 0.0001px;
    left: 0.0001px;
}

.buttons {
    display: flex;
    gap: 12px;
    margin: 0px 8px;
}

.button {
    background-color: #1D2326;
    border: none;
    border-radius: 24px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0), inset 0px 0px 4px black, 0px 0px 4px black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.pressedButton {
    background-color: #1B2124;
    box-shadow: inset 0px 0px 8px rgb(0, 0, 0), inset 0px 0px 4px black, 0px 0px 4px black;
    transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.buttonIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 1;
    scale: 1;
    transition: opacity 0.3s ease-in-out, scale 0.1s ease-in-out;
}

.hiddenButtonIcon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.pressedButtonIcon {
    opacity: 0.75;
    scale: 0.97;
    transition: opacity 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.centerButton {
    flex-grow: 1;
    min-width: 48px;
}

.leftButton, .rightButton {
    width: 48px;
    height: 48px;
}

.screenOuter {
    position: relative;
    z-index: 3;
    background-color: #0B0C0D;
    border-radius: 16px;
    box-shadow: 0px 0px 4px #000;
    margin-bottom: 16px;
    overflow: hidden;
}

.screenInner {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 16px 20px 20px;
    transition: margin 0.3s ease-in-out, gap 0.3s ease-in-out;
}

.time {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.digitContainer {
    flex-shrink: 1;
    max-width: 100px;
    display: flex;
}

.digit {
    width: 100%;
}

.colonContainer {
    flex-shrink: 1;
    max-width: 32px;
    display: flex;
}

.colon {
    width: 100%;
}

.phaseContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.phaseIndicator {
    width: 22.5%;
    height: auto;
}

.screenLight {
    position: absolute;
    z-index: 5;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    top: -0.0001px;
}

@media (max-width: 560px) {
    .screenInner {
        margin: 12px 16px 16px;
        gap: 2px;
    }
}